html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F2F2F2;
    font-size: 16px;
}

.container {
    background-color: #ddd;
    min-height: 400px;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slider {
    width: 100%;
    height: 300px;
}

.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    transition: all .6s ease-in-out;
}

.slider li {
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}

.slider li img {
    width: 100%;
    border: none;
    min-height: 100%;
}

.icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}

.icons span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .3em;
    background-color: #D6D6D6;
    cursor: pointer;
}

.active {
    background-color: #fff !important;
}